@import "src/styles/variables";

.blocked-calendar {
  &__titles {
    margin-top: 2rem;
  }

  &__title {
    font-size: $font-size-big;
  }

  &__sub-title {
    padding-top: 0.1rem;
    color: $color-disabled;
  }
}
