@import "src/styles/variables";

.app {
  height: 100vh;
  max-width: 550px;
  margin: 0 auto;

  &__page {
    height: 100%;
    position: relative;
    padding: 1.8rem;

    &-container {
      padding-bottom: 6.5rem;
    }
  }
}

@media (min-width: 930px) {
  .app {
    &__page {
      overflow: auto;
      &::-webkit-scrollbar {
        width: 0.55rem;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 2rem;
        background-color: $color-green;
      }
    }
  }
}
