@import "src/styles/variables";

.home {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  &__titles {
    margin-top: 0.5rem;
  }

  &__title {
    font-size: $font-size-big;
  }

  &__sub-title {
    padding-top: 0.1rem;
    color: $color-disabled;
  }

  &__block-list {
    padding: 1.5rem 0;
  }

  &__pagination {
    display: flex;
    justify-content: center;
  }

  &__no-results {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 4rem;
    color: $color-green-dark;
  }
}
