@import "src/styles/variables";

.home {
  &__titles {
    margin-top: 0.5rem;
  }

  &__title {
    font-size: $font-size-big;
  }

  &__sub-title {
    padding-top: 0.1rem;
    color: $color-disabled;
  }

  &__table {
    margin-top: 2.5rem;
    font-family: $font-family-medium;
    font-size: 1.3rem;
  }

  &__block-list {
    padding: 1.5rem 0;
  }

  &__pagination {
    display: flex;
    justify-content: center;
  }
}
